services:
  - type: web
    name: ignifeu-website
    runtime: static
    buildCommand: ""
    staticPublishPath: ./
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
      - path: /*
        name: Referrer-Policy
        value: strict-origin-when-cross-origin
      - path: /css/*
        name: Cache-Control
        value: public, max-age=31536000
      - path: /js/*
        name: Cache-Control
        value: public, max-age=31536000
      - path: /images/*
        name: Cache-Control
        value: public, max-age=31536000
